<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.luulinhson.muasamtructuyen"

    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".View.Splash.SplashAcivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.Main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".View.LogIn_Register.LogIn_Register_Activity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".View.LoadProductPage.ProductActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".View.DetailProduct.DetailProducActivity">
            android:screenOrientation="portrait"
        </activity>

        <activity android:name=".View.Rating.RatingActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            >
            android:screenOrientation="portrait"
        </activity>

        <activity android:name=".View.Rating.TatCaDanhSachDanhGiaActivity"
            >
            android:screenOrientation="portrait"
        </activity>

        <activity android:name=".View.GioHang.GioHangActivity">
            android:screenOrientation="portrait"
        </activity>

        <activity android:name=".View.ThanhToan.ThanhToanActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".View.TimKiem.TimKiemActivity">
            android:screenOrientation="portrait"
        </activity>


    </application>

</manifest>